/* Google fonts - Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* body */
body {
    background: rgba(0,0,0,0.9);
    font-family: 'Open Sans', sans-serif;
}

/* links */
.nfl a, .mlb a, .nhl a, .pga a {
    text-decoration: none;
    transition: color 0.2s ease-out;
}

.nfl a {
    color: rgba(79,192,210,1);
}

    .nfl a:hover {
        color: #2f7c8a;
    }

.mlb a {
    color: rgba(82,210,154,1);
}

    .mlb a:hover {
        color: #2a7d5a;
    }

.nhl a {
    color: rgba(231,196,104,0.7);
}

    .nhl a:hover {
        color: #b38a2f;
    }

.pga a {
    color: rgba(235,118,85,1);
}

    .pga a:hover {
        color: #a33f25;
    }

/* wrapper */
.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto 100px auto;
    padding: 0;
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.9);
    overflow: hidden;
    position: relative;
}

/* lists */
.row ul {
    margin: 0;
    padding: 0;
}

    .row ul li {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
        list-style: none;
        display: inline-block;
        width: 20%;
        box-sizing: border-box;
    }

@media only screen and (max-width:767px) and (min-width:480px) {
    .row ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width:479px) {
    .row ul li {
        font-size: 13px;
    }
}

.title ul li {
    padding: 15px 13px;
}

.row ul li {
    padding: 5px 10px;
}

/* rows */
.row {
    padding: 20px 0;
    height: 30px;
    font-size: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-out;
    border-top: 1px solid #000;
}

    .row:hover {
        background-color: #222;
        height: 65px;
    }

@media only screen and (max-width : 767px) {
    .row:hover {
        height: 85px;
    }
}

@media only screen and (max-width : 359px) {
    .row:hover {
        height: 105px;
    }
}

.title {
    padding: 25px 0 5px 0;
    height: 45px;
    font-size: 0;
    background-color: rgba(255,255,255,0.1);
    border-left: 3px solid #fff;
}

    .title:hover {
        height: 45px;
        background-color: rgba(255,255,255,0.1);
        border-left: 3px solid #fff;
    }

.title-hide {
    display: none;
}

/* row colors */
.nfl {
    border-left: 3px solid #2f7c8a;
}

    .nfl:hover {
        border-left: 3px solid rgba(79,192,210,1);
    }

.mlb {
    border-left: 3px solid #2a7d5a;
}

    .mlb:hover {
        border-left: 3px solid rgba(82,210,154,1);
    }

.nhl {
    border-left: 3px solid #b38a2f;
}

    .nhl:hover {
        border-left: 3px solid rgba(231,196,104,0.7);
    }

.pga {
    border-left: 3px solid #a33f25;
}

    .pga:hover {
        border-left: 3px solid rgba(235,118,85,1);
    }

/* row one - fadeIn */
.row-fadeIn-wrapper {
    opacity: 0;
    font-size: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-out;
    animation: fadeIn 0.4s ease-out 2s 1 alternate;
    animation-fill-mode: forwards;
}

    .row-fadeIn-wrapper:hover {
        height: 35px;
    }

@media only screen and (max-width : 767px) {
    .row-fadeIn-wrapper:hover {
        height: 55px;
    }
}

@media only screen and (max-width : 359px) {
    .row-fadeIn-wrapper:hover {
        height: 75px;
    }
}

.fadeIn {
    padding: 20px 0;
    font-size: 0;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

    .fadeIn:hover {
        background-color: #222;
    }

/* row two - fadeOut */
.row-fadeOut-wrapper {
    font-size: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-out;
    animation: fadeOut 0.4s ease-out 8s 1 alternate;
    animation-fill-mode: forwards;
    opacity: 1;
    height: 65px;
}

    .row-fadeOut-wrapper:hover {
        height: 100px;
    }

/* update content */
.update-row {
    animation: update 0.5s ease-out 12s 1 alternate;
}

.update1 {
    position: absolute;
    top: 25px;
    display: inline-block;
    opacity: 1;
    animation: update1 1s ease-out 12s 1 alternate;
    animation-fill-mode: forwards;
}

.update2 {
    position: absolute;
    top: 25px;
    display: inline-block;
    opacity: 0;
    animation: update2 4s ease-out 13s 1 alternate;
    animation-fill-mode: forwards;
}

/* more content */
ul.more-content li {
    position: relative;
    top: 22px;
    font-size: 13px;
    margin: 0;
    padding: 10px 13px;
    display: block;
    height: 50px;
    width: 100%;
    color: #555;
}

@media only screen and (max-width:767px) {
    ul.more-content li {
        font-size: 11px;
    }
}

/* small content */
.small {
    color: #333;
    font-size: 10px;
    padding: 0 10px;
    margin: 0;
}

@media only screen and (max-width:767px) {
    .small {
        display: none;
    }
}

/* keyframe animations */
@keyframes fadeIn {
    from {
        background: rgba(255,255,255,0.1);
        opacity: 0;
        padding: 0;
    }

    to {
        background: #222;
        opacity: 1;
        padding: 0 0 65px 0;
    }
}

@keyframes fadeOut {
    from {
        background: #222;
        opacity: 1;
        height: 65px;
    }

    to {
        background: rgba(255,255,255,0.1);
        opacity: 0;
        height: 0;
    }
}

@keyframes update {
    0% {
        background: #222;
    }

    50% {
        background: rgba(255,255,255,0.1);
    }

    100% {
        background: #222;
    }
}

@keyframes update1 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes update2 {
    0% {
        opacity: 0;
        color: rgba(255,255,255,0.9);
    }

    20% {
        opacity: 1;
        color: rgba(82,210,154,1);
    }

    100% {
        opacity: 1;
        color: rgba(255,255,255,0.9);
    }
}
